{% extends "web/base.html" %}


{% block page_title %}/{{ short_url.slug }} &mdash; {{ super() }}{% endblock %}


{% block page_contents %}
<p class="small"><a href="{{ url_for("web.index") }}">&lt; Back</a></p>

<div class="row my-3">
    <div class="col-4 col-md-3 col-lg-2"><strong>Target URL:</strong></div>
    <div class="col">{{ short_url.target_url|urlize(target="_blank") }}</div>
</div>
<div class="row my-3">
    <div class="col-4 col-md-3 col-lg-2"><strong>Times visited:</strong></div>
    <div class="col">{{ short_url.visit_count }}</div>
</div>
<div class="row my-3">
    <div class="col-4 col-md-3 col-lg-2"><strong>Public:</strong></div>
    <div class="col">{{ 'Yes' if short_url.public else 'No' }}</div>
</div>
<div class="row my-3">
    <div class="col-4 col-md-3 col-lg-2"><strong>Created:</strong></div>
    <div class="col">{{ short_url.created_at }}</div>
</div>
{% endblock %}
