<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>{% block page_title %}URL Shortener{% endblock %}</title>
    </head>
    <body>
        <div class="container my-3">
            <h1>{{ self.page_title() }}</h1>
            {% block page_contents %}{% endblock %}
        </div>
    </body>
</html>
